*{
    margin: 0;
    padding: 0;
}

html, body, #banner{
    height: 100%;
}

/* header */

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.9rem;
    padding-left: .5rem;
    font-weight: bold;
    color: #100c4e;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #3cce9d ;
}


/* banner */
#banner{
    background: url(/img/home/bg-banner.svg) no-repeat center;
    background-size: cover;
}
#banner h1{
    letter-spacing: -4px;
    color: #100c4e;
}
#banner p{
    width: 70%;
    color: #030311b3;
}
.btn-custom{
    background: #e784be;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
}
.btn-custom:hover{
    background: #8e48c7;
    color: #fff;
}

/* clientes */
#clients{
    padding: 80px 0 100px 0;
}
#clients h2{
    font-size: 1.5em;
    font-weight: bold;
    color: #100c4e;
}
#clients p{
    color: #100c4e;
    font-size: 1.2em;
    line-height: 1.5em;
}
#clients a{
    text-decoration: none;
    margin-top: -10px;
}
#clients a span{
    font-size: .9em;
    font-weight: 700;
    color:#868686
}
#clients a span:hover{
    color: #2aa8be;
    transition: .5s;
}
#clients h5{
    margin-top: 10px;
    font-size: .98em;
    font-weight: bold;
    color: #100c4e;
}
#clients span{
    color: #868686;
}
#clients .card-testimonial{
    margin-top: 70px;
}
.amaz-clients span{
    font-size: 1.2em;
}
.amaz-clients h3{
    font-weight: 700;
    font-size: 3.4em;
    color: #100c4e;
}
#clients .amaz-clients p{
    margin-top: 20px;
    margin-bottom: 60px;
    color: #868686;
}

/* CEO */
#ceo{
    background: #f8f9fc;
}
.ceo-box{
    padding: 60px 0;
}
.ceo-box-internal{
    padding: 10px 0;
}
.c-different{
    margin: 30px 0;
}
.c-different ul li span{
    color: #3cce9d;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.c-different ul li p{
    color: #868686;
    font-size: 1.2em;
    padding-right: 60px ;
}
#ceo ul{
    list-style: none;
    padding: 0;
}
#ceo li{
    width: 300px;
    display: grid;
    float: left;
    margin-bottom: 30px;    
}
#ceo h5{
    font-weight: bold;
    font-size: 1.2em;
    color: #3cce9d;
}
#ceo h3{
    font-size: 3.4em;
    font-weight: bold;
    color: #100c4e;
}

/* agencies */
#agencies{
    padding: 100px 0;
}
#agencies p{
    color: #868686;
    font-size: 1.1em;
    padding-right: 80px ;
}
#agencies ul{
    list-style: none;
    padding: 0;
}
#agencies li{
    width: 300px;
    display: grid;
    float: left;
    margin-bottom: 30px;    
}
#agencies h3{
    font-size: 3.4em;
    font-weight: bold;
    color: #100c4e;
}
#agencies ul li span{
    color: #fd72e6;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 10px;
}
#agencies ul li p{
    color: #868686;
    font-size: 1.2em;
    padding-right: 60px ;
}
.btn-custom-learn{
    background: #fd72e6;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 35px ;
    margin: 0 50px 0 0;
}
.btn-custom-learn:hover{
    background: #8e48c7;
    color: #fff;
}


/* brands */
.brands{
    margin: 110px 0;
}
.content-text h3{
    font-size: 3.4em;
    font-weight: bold;
    color: #100c4e;
    letter-spacing: -2px;
    margin-bottom: 30px;
}
.content-text h5{
    font-weight: bold;
    font-size: 1.2em;
    color: #3cce9d;
}
.content-text p{
    color: #868686;
    font-size: 1.2em;
    padding-right: 60px ;
    line-height: 1.6em;
}

.content-list{
    margin-top: 40px;
}
.content-list ul{
    list-style: none;
    padding: 0;
}
.content-list ul li{
    width: 300px;
    float: left;
    margin-bottom: 40px;
    padding-right: 40px;
}
.content-list ul li span{
    color: #3cce9d;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.content-list ul li p{
    color: #868686;
    font-size: 1.2em;
}
.content-button .btn-custom-learn-blue{
    background: #3cce9d;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 35px ;
    margin: 0 50px 0 0;
}
.content-button .btn-custom-learn-blue:hover{
    background: #2aa8be;
    color: #fff;
}
.img-magnify img:hover{
    transition: 1s;
    transform: scale(1.1);
}

/* case */
.studies{
    margin-bottom: 100px;
}
#case .content-text p{
    padding-right: 0;
}
.cards-cases{
    margin-top: 40px;
}
.cards-cases img{
    transition: transform .5s ease;
}
.cards-cases img:hover{
    transform: scale(1.1);
}
.card-body {
    padding: 2rem 0 0 0;
}
.card-body .card-subtitle{
    color: #3cce9d;
    font-weight: bold;
    font-size: .8em;
    margin-bottom: 10px;
}
.card-body .card-title{
    color: #100c4e;
    font-weight: bold;
}
.card-body .card-text{
    color: #100c4e;
}
.img-overflow{
    overflow: hidden;
}

.world{
    background: url(/img/home/enviroment_background_image_s_o.jpg) no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.content-text .padding-world{
    padding: 0;
    font-size: 1.03em;
}
.otp-sc a{
    text-decoration: none;
}

.lets{
    background: url(/img/home/cta_background_image.svg) no-repeat;
    background-size: cover;
    padding: 60px 0;
}
.lets h1{
    font-size: 4.4em;
    font-weight: bold;
    line-height: 1.5em;
    color: #100c4e;
}
.lets p{
    font-size: 1.1em;
    color: #868686;
    padding: 0 90px 30px;
}
.btn-custom-schedule-blue{
    background: #3cce9d;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 35px;
    margin-bottom: 25px;
}
.btn-custom-schedule-blue:hover{
    background: #2aa8be;
    color: #fff;

}
.lets .view-plans a{
    text-decoration: none;
    font-weight: bold;
    color: #3cce9d;
}
.lets .view-plans a:hover{
    color: #2aa8be;
}

.rodape{
    background-color: #110e30;
    padding: 60px 0;
}
.rodape .logo-rodape{
    margin-bottom: 50px;
}
.rodape .texto-rodape{
    font-size: 1.35em;
}
.rodape .s-message{
    font-size: 1.35em;
    color: #3cce9d;
    text-transform: uppercase;
    text-decoration: none;
}
.rodape .rodape-link-built p{
    color: #868686;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: -.08em;
    margin-top: -15px;
}
.rodape .rodape-link-built a{
    font-size: 2em;
    color: #dbdbdb;
}
.rodape .rodape-box1{
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.rodape .rodape-box2{
    padding-top: 70px;
}
.rodape .rodape-lista{
    padding: 0;
    list-style: none;
}
.rodape .rodape-lista li{
    line-height: 2em;
}
.rodape .rodape-lista a{
    text-decoration: none;
    font-size: 1.35em;
    color: #2aa8be;
}
.rodape .rodape-lista a:hover{
    color: #3cce9d;
}

.rodape-box2 p{
    color: #868686;
    font-size: 1em;
}
.input-group-text {
    background-color: #e784be;
    font-weight: bold;
    color: #fff;
    font-size: .8em;
    padding: 10px 25px;
}
.rodape-box3{
    margin-top: 60px;
}
.rodape-box3 .rodape-lista span{
    color:#2aa8be;
    font-size: 20px;
    padding: 0 10px;
}



